####################################
[ req ]

default_keyfile = /home/pi/share/tools/openssl/pki/demoCA/private/cakey.pem

default_md = md5

prompt = no

distinguished_name = ca_distinguished_name

x509_extensions = ca_extensions
 
[ ca_distinguished_name ]

organizationName = ss

organizationalUnitName  = sstc

commonName = sstcCA

emailAddress = wujianhua0924@126.com

[ ca_extensions ]

basicConstraints = CA:true
########################################
